.lightBox
{
    width: 7em;
    margin: auto;
    padding: 1em;
}

.lightStand
{
    width: 7em;
    margin: auto;
    padding: 1em;

    background-color: black;
}

.light-background
{
    width: 6em;
    height: 20em;
    padding: .1em;

    opacity: .5;
    background-color: grey;
}
.light
{
    z-index: 10000;

    width: 5em;
    height: 5em;
    margin: .5em auto;

    opacity: .25;
    border-radius: 50%;
}

.off
{
    opacity: .25;
}

.on
{
    opacity: 1;
}

/* light colors start */
.green
{
    background-color: green;
}
.red
{
    background-color: red;
}
.orange
{
    background-color: orange;
}
